body{
    background-image: url("https://img.freepik.com/fotos-premium/fondo-abstracto-viajando-traves-campos-estelares-espacio-supernova-lightmotion-creacion-grafica-ver-galaxyfantasy-deep-dark-nebulaoscuridad-mistica-espacio-exteriorciencia-movimiento-cielo-ilustracion_599740-1458.jpg");
}

h1{color:red;size:300px;height:70px;align-items:center;display:flex;justify-content:center;}

p {color: azure;}

p2 {color: azure;}